*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    display: flex;
    height:calc(100% - 100px);
}



/* container */
.container{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
/* sezione nav sinistra */

.main-nav{
    width:200px;
    height:100%;
    background-color:#000000;
    display: flex;
    flex-direction: column;
}

.nav-top{
    height:100px;
}

.nav-top img{
    width:80%;
    margin:20px 10px;
}

/* nav-loghi */

.nav-loghi img{
    width: 15%;
}

.formattazione{
    color:white;
    font-size: 20px;
    padding-left: 10px;
}

.hover-mouse:hover{
    opacity:0.7;
    border-left: 3px solid #ADFF2F;
}


/* nav-playlist */
.nav-playlist{
    min-height: 200px;
    overflow: hidden;
    flex-grow: 1;
    margin-top: 40px;
    margin-left: 15px;
}

.playlist{
    margin:10px 0;
}

.playlist i{
    font-size: 20px;
    background-color: lightgrey;
    padding: 10px;
}

.playlist:hover ,
.created:hover{
    opacity: 0.7;
}

.playlist-link{
    height: 100%;
    overflow-y: auto;
    line-height: 1.8;
}

.playlist-link >ul >li>a{
    color:white;
    text-decoration: none;
    list-style-type: none;
}

.playlist-link >ul >li>a:hover{
    color:#717171;
}
/* nav footer */
.nav-footer{
    margin-left: 15px;
}

.nav-footer img{
    width: 10%;
    vertical-align: middle;
}

.profile_img{
    background-color: grey;
    border-radius: 50%;
}

.final::after{
    content: '';
    display: table;
    border-bottom: 1px solid white;
    width: 80%;
    padding:2px;
}

/* sezione corpo centrale */
.main-container{
    width:calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    margin-top:100px;
    margin-bottom:100px;
    overflow-y:scroll;
}

/* header barra */
.header-barra{
    width: calc(100% - 200px);
    height:100px;
    line-height: 100px;
    background-color: #080B12;
    position: fixed;
    top:0;
    right:0;
    text-align: right;
    z-index: 1;
}

.header-barra a{
    text-transform: uppercase;
    color:white;
    text-decoration: none;
}

.btn{
    padding:10px 30px;
    border-radius:15px;
    border:1px solid white;
    margin-right: 40px;
    transition: all 0.5s;
}

.btn a:hover{
    transform:scale(2);
}


/* main music center */

.titoli{
    color:white;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.titoli span{
    padding:20px 15px;
}

/* border-bottom: 1px solid  #ADFF2F; */

.titoli span:hover{
    color:#717171;

}

/* sezioni canzoni */
.song_recently {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.song_recently img{
    height: 200px;
    width: 200px;
}

.song_recently h5{
color: white;
text-align: center;
font-size: 22px;
padding: 10px 0;
}

.song_recently p{
    color:#717171;
    font-size: 16px;
}





/* riutilizabili */
.text-white{
    color:white;
}

.text-grey{
    color:#717171;
}

.text-medium{
    font-size: 20px;
}

.text-bold{
    font-weight: bold;
    padding:20px;
}

.text_upper{
    text-transform: uppercase;
}

.margin-s{
    margin-left:20px;
}

/* footer */
footer{
    height:100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom:0;
    left:0;

}
